<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geschenke-Shop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="main">
        <ul class="list-group list-group-flush">
          <li v-for="(product, index) in products" :key="product.id">
            Produkt: "{{ product.name }}" , 
            Anzahl im Lager: 
            <span class="badge badge-primary badge-pill">{{ product.quantity }}</span>
            <button @click="order(index)">Order</button>
            <span style="color:red" v-if="product.quantity == 0"> Ausverkauft!</span>
          </li>
        </ul>

        <div class="warenkorb" id="warenkorb">
            <ul>
              <li v-for="item in korb" :key="item.id">
                {{ item.name }} - {{ item.quantity }}
              </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>