body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.main {
    display: flex;
    border: solid 1px black;
    height: 908px;
    width: auto;
}
.warenkorb {    
    border: solid 1px black;
    height: 908px;
    width: 500px;
    margin-left: auto;
    visibility: hidden;
}